@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .font-inter {
      font-family: Inter, sans-serif;
    }
}

@layer components {
  .animation-target {
    opacity: 0;
    transform: translateY(100px);
  }
}